#sigma {
    margin-right: 10px;
    margin-left: 180px;
}

.box {
    display: flex;
    align-items: stretch;
}

#side {
    padding-right: 5px;
    margin-left: -3px;
    margin-top: -120px;
    position: fixed;
    background-color: white;
}

#pag {
    margin-left: 227px;
    border-left: 1px solid gainsboro;
}

#down {
    width: -moz-max-content;
    width: 1000px;
}

#ex {
    text-decoration: underline;
}

#form {
    padding: 15px;
} 

#resultado {
    margin-top:15px;
}

#btn {
    border: 1px solid gainsboro;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resultado_certo{
    color: #37ad17;
    font-weight: bolder;
}

.resultado_errado {
    color: red;
    font-weight: bolder;
}


.body {
    height: max-content;
    background-image: url('ifpi2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#g {
    border: 1px gainsboro solid;
}

.caption {
    border: 1px gainsboro solid;
    padding: 2px;
    background-color: white;
}

#legend {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

#video {
    margin-top: 40px;
}
